doctype
html
  head
    title Luke Stebner - Web Developer
    meta(name="description", content="Front-end web developer in the San Francisco Bay Area")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Rajdhani', rel='stylesheet')
    link(href='index.css', rel='stylesheet')

    if process.env.NODE_ENV == "production"
      include analytics
  body
    div.content_container
      h1 luke stebner
      h2 developer / producer / creator

      ul.links
        li
          a(href="https://soundcloud.com/ahhsumx", target="_blank") on Soundcloud
          a(href="https://github.com/lstebner", target="_blank") on Github
          a(href="https://www.linkedin.com/in/lukestebner/", target="_blank") on LinkedIn

      .box
        .box_heading I specialize in...

        ul.primary_skills.skills_list
          li JavaScript 
            span.subskills (vanilla js, ES6, React, nodejs, webpack, helper scripts)
          li HTML 
            span.subskills (HTML5 and templating languages such as pug, erb, and fortitude)
          li CSS 
            span.subskills (and pre-processors such as SASS and LESS)
          li Ruby on Rails
          li Git
          li Project Breakdowns

      .box
        .box_heading I also know a few things about...

        ul.secondary_skills.skills_list
          li Audio 
            span.subskills (logic pro, audacity, basic production)
          li Databases 
            span.subskills (MySQL, mongodb)
          li Documentation 
            span.subskills (confluence, markdown)
          li Unit Testing 
            span.subskills (jest, rspec, mocha/chai)
          li Game Programming/Scripting 
            span.subskills (lua/love2d, javascript)
          li bash and node scripting 
            span.subskills (for repetitive task simplification)
          li Basic devops 
            span.subskills (nginx routing, linux system maintenance, ssh)
          li Other backend languages 
            span.subskills (PHP, Python)
          li A/B testing
          li Analytics tracking
          li Bug/Task tracking 
            span.subskills (jira, asana, sprints)

      .box
        .box_heading My hobbies include...

        ul.hobbies
          li 
            a(href="http://ahhsumx.com", target="_blank") Music
          li Coffee
          li Vegan Food

      .box
        .box_heading Work I've done...

        ul.work_resume
          li Technical Lead at Scribd
            span.subtext  (2014-current)
            .technology_list
              strong technologies:
              span  Javascript (ES6, React, TypeScript, legacy coffeescript, legacy jQuery), SCSS, HTML, Ruby on Rails, ActiveRecord, Fortitude, RSpec, Jest, Enzyme, Webpack, Babel
            .site_link
              a(href="https://scribd.com/", target="_blank") scribd.com

          li Front-end Engineer at BrightGauge
            span.subtext  (2011-2013)
            .technology_list
              strong technologies:
              span  Javascript, CSS/LESS, HTML, PHP (code igniter framework), Python, MySql, Mongodb
            .site_link
              a(href="https://www.brightgauge.com/", target="_blank") brightgauge.com

          li Front-end Engineer at MerchantCircle
            span.subtext  (2010-2011 during acquisition by Reply!)
            .technology_list
              strong technologies:
              span  Python, HTML, Javascript, CSS
            .site_link
              a(href="https://www.merchantcircle.com/", target="_blank") merchantcircle.com

          li Full stack developer at QuinStreet
            span.subtext  (2009-2010 during IPO)
            .technology_list
              strong technologies: 
              span  PHP, MySql, HTML, CSS, Javascript
            .site_link
              a(href="http://quinstreet.com/", target="_blank") quinstreet.com

          li Backend developer at Visicswire
            span.subtext  (2008)
            .technology_list
              strong technologies:
              span  PHP, MySql, HTML, CSS, Javascript
            .site_link
              span site no longer available

