doctype
html
  head
    title Luke Stebner - Web Developer
    meta(name="description", content="Senior Front-end web developer in the San Francisco Bay Area")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Rajdhani', rel='stylesheet')
    link(href='index.css', rel='stylesheet')

    if process.env.NODE_ENV == "production"
      include analytics
  body
    div.content_container
      h1 luke stebner
      h2 developer / engineer / craftsman

      ul.links
        li
          a(href="https://github.com/lstebner", target="_blank") on Github
          a(href="https://www.linkedin.com/in/lukestebner/", target="_blank") on LinkedIn

      .box.alt
        .box_heading I specialize in...

        ul.primary_skills.skills_list
          li TypeScript / JavaScript - 18+ years experience
            span.subskills  (vanilla js, ES6, TypeScript, React, React Native, nodejs, browser and node)
          li HTML - 18+ years experience
            span.subskills  (semantic HTML5, accessibility, and templating languages such as pug, erb and fortitude)
          li CSS - 18+ years experience
            span.subskills  (responsive, vanilla CSS, Tailwind, CSS variables, CSS modules, and pre-processors such as SASS and LESS)
          li Git - 15+ years experience
          li unit testing - 10+ years experience
            span.subskills  (vitest, jest, mocha/chai, jasmine, testing-library, rspec, enzyme)
          li agile practices / project breakdowns
          li code reviews - 12+ years experience
          li clear communication

      .box
        .box_heading I am also quite familiar with...

        ul.secondary_skills.skills_list
          li global state management
            span.subskills  (Zustand, Redux)
          li refactoring
            span.subskills  (safely modernizing legacy codebases)
          li prototyping
            span.subskills  (quickly building usable demos)
          li AI-driven development
            span.subskills (claude code)
          li bug/task tracking software
            span.subskills  (jira, github, asana)
          li databases
            span.subskills  (MySQL, mongodb)
          li documentation
            span.subskills  (confluence, markdown)
          li conducting interviews
          li game programming / game logic
            span.subskills  (godot, lua/love2d, javascript)
          li bash and node scripting
            span.subskills  (for repetitive task simplification)
          li other backend languages
            span.subskills  (PHP, Python, Ruby on Rails)
          li audio production
            span.subskills  (logic pro, audacity, recording, editing, physical and virtual instruments)

      .box.alt
        .box_heading My hobbies include...

        ul.hobbies
          li roasting coffee
          li
            a(href="https://ahhsumx.itch.io/", target="_blank") making games
          li playing games
          li playing and discovering music

      .box
        .box_heading Work history

        ul.work_resume
          li frontend engineer at Created by Humans
            .subtext  (2024-current)
            .technology_list
              strong technologies:
              span  TypeScript, React, Tailwind, Zustand, vitest, Amplify, React Native, Claude Code
            .site_link
              a(href="https://createdbyhumans.ai/", target="_blank") createdbyhumans.ai

          li staff engineer / technical lead at Scribd
            .subtext  (2014-2023)
            .technology_list
              strong technologies:
              span  Javascript (ES6, React, TypeScript, legacy coffeescript, legacy jQuery), CSS (CSS modules, and SCSS), HTML, Ruby on Rails, ActiveRecord, Fortitude, RSpec, Jest, React Testing Library, Enzyme (legacy), Webpack, Babel, End-to-End testing
            .site_link
              a(href="https://scribd.com/", target="_blank") scribd.com

          li lead front end engineer at BrightGauge
            .subtext  (2011-2013)
            .technology_list
              strong technologies:
              span  Javascript, CSS/LESS, HTML, PHP (code igniter framework), Python, MySql, Mongodb
            .site_link
              a(href="https://www.brightgauge.com/", target="_blank") brightgauge.com

          li front-end engineer at MerchantCircle
            .subtext  (2010-2011, acquired by Reply! Media)
            .technology_list
              strong technologies:
              span  Python, HTML, Javascript, CSS
            .site_link
              a(href="https://www.merchantcircle.com/", target="_blank") merchantcircle.com

          li full stack developer at QuinStreet
            .subtext  (2009-2010)
            .technology_list
              strong technologies:
              span  PHP, MySql, HTML, CSS, Javascript
            .site_link
              a(href="http://quinstreet.com/", target="_blank") quinstreet.com

          li backend developer at Visicswire
            .subtext  (2008)
            .technology_list
              strong technologies:
              span  PHP, MySql, HTML, CSS, Javascript
            .site_link
              span site no longer available
