doctype
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    if process.env.NODE_ENV == "production"
      include analytics
    style(type="text/css").
  body
    div
      h1 luke stebner
      h2 developer / producer / creator

      ul.links
        li
          a(href="https://soundcloud.com/ahhsumx", target="_blank") Soundcloud
          a(href="https://github.com/lstebner", target="_blank") Github
          a(href="https://www.linkedin.com/in/lukestebner/", target="_blank") LinkedIn

      ul.interests
        li I like to write code
        li I like to produce music
        li I like to create goods

      ul.primary_skills
        li JavaScript (vanilla js, ES6, React, coffeescript, nodejs, webpack, helper scripts)
        li HTML (HTML5 and templating languages such as pug, erb, and fortitude)
        li CSS (and pre-processors such as SASS and LESS)
        li Ruby on Rails

      ul.secondary_skills
        li Audio (logic pro, audacity, basic production)
        li Databases (MySQL, mongodb)
        li Documentation (confluence, markdown)
        li Unit Testing (mocha/chai, jest, rspec)
        li Game Programming/Scripting (lua/love2d, C#/XNA)
        li bash scripting (for repetitive task simplification)
        li Basic devops (nginx routing, linux system maintenance, ssh)

      ul.hobbies
        li Music Production
        li Coffee Roasting
        li Building random stuff that involves code

      ul.random_stuff
        li Check out my keyboard layouts
        li Visit my etsy shop

